@model INVENNET.Models.Producto

@{
    ViewData["Title"] = "Registrar Producto";
}

<!-- <h1>@ViewData["Title"]</h1> -->

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Producto</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Create">
                <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                    <label for="" asp-for="Nombre" class="control-label"></label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="" asp-for="Descripcion" class="control-label">Descripción</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Descripcion">
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="" asp-for="Marca" class="control-label"></label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Marca">
                    <span asp-validation-for="Marca" class="text-danger"></span>
                  </div>
                                    <div class="form-group">
                    <label for="" asp-for="Existencia" class="control-label"></label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Existencia">
                    <span asp-validation-for="Existencia" class="text-danger"></span>
                  </div>
                                    <div class="form-group">
                    <label for="" asp-for="FechaCreacion" class="control-label">Fecha de creación</label>
                    <input type="datetime-local" class="form-control" id="" placeholder="" asp-for="FechaCreacion">
                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                  </div>
                                    <div class="form-group">
                    <label for="" asp-for="FechaCaducidad" class="control-label">Fecha de caducidad</label>
                    <input type="datetime-local" class="form-control" id="" placeholder="" asp-for="FechaCaducidad">
                    <span asp-validation-for="FechaCaducidad" class="text-danger"></span>
                  </div>
                                    <div class="form-group">
                    <label for="" asp-for="Precio" class="control-label">Precio</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Precio">
                    <span asp-validation-for="Precio" class="text-danger"></span>
                  </div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label">Proveedor</label>
                <select asp-for="IdProveedor" class ="form-control" asp-items="ViewBag.IdProveedor"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">Categoría</label>
                <select asp-for="IdCategoria" class ="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Crear</button> |                 
                    <a asp-action="Index" class="btn btn-warning">Cancelar</a>

                </div>
              </form>
            </div>
            <!-- /.card -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
