@using Microsoft.AspNetCore.Identity;
@model Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InveNET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/INVENNET.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User.IsInRole("Administrador"))
    {
        <div class="text-center">
            <div class="alert alert-success">
                <h2 class="display-4">Usted Ya Inició Sesion!</h2>
            </div>
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
        </div>
    }
    else
    {
        <h1 style="text-align:center; margin-top:5%;">Iniciar Sesión</h1>
        <table style="border:3px;">
            <div class="row mt-5">
                <div class="col-sm-4 offset-sm-4">
                    <form asp-controller="Acceso" asp-action="Index" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre Usuario</label>
                            <input type="text" class="form-control" asp-for="Usuario1">

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Clave">
                        </div>
                        <br />
                        <div style="text-align:center;">
                            <button type="submit" class="btn btn-success">Login</button>
                            <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Index">Invitado</a>
                        </div>
                    </form>
                </div>
            </div>
        </table>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
