@model INVENNET.Models.Usuario

@{
    ViewData["Title"] = "Registrar Usuario";
}

<!-- <h1>@ViewData["Title"]</h1> -->

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Usuario</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Create">
                <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                    <label for="" asp-for="Usuario1" class="control-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Usuario1">
                    <span asp-validation-for="Usuario1" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="" asp-for="Clave" class="control-label">Clave</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Clave">
                    <span asp-validation-for="Clave" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="" asp-for="Nombres" class="control-label">Nombres</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Nombres">
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label for="" asp-for="Apellidos" class="control-label">Apellidos</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Apellidos">
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Crear</button> |                 
                    <a asp-action="Index" class="btn btn-warning">Cancelar</a>

                </div>
              </form>
            </div>
            <!-- /.card -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
