@model INVENNET.Models.Pedido

@{
    ViewData["Title"] = "Registrar Pedido";
}

<!-- <h1>@ViewData["Title"]</h1> -->

           <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pedido</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Create">
                <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                    <label for="" asp-for="Total" class="control-label">Total</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Total">
                    <span asp-validation-for="Total" class="text-danger"></span>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Crear</button> |                 
                    <a asp-action="Index" class="btn btn-warning">Cancelar</a>

                </div>
              </form>
            </div>
            <!-- /.card -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
