@model INVENNET.Models.Pedido

@{
    ViewData["Title"] = "Editar Pedido";
}

<!-- <h1>@ViewData["Title"]</h1> -->

           <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pedido</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Edit">
                <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <!--  <div class="form-group">
                    <label for="" asp-for="Estado" class="control-label">Estado</label>
                    <input type="text" class="form-control" id="" placeholder="" asp-for="Estado">
                    <span asp-validation-for="Estado" class="text-danger"></span>
                  </div> -->

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class ="form-control">
    <option value="Creado">Creado</option>
    <option value="Aprobado">Aprobado</option>
    <option value="Recibido">Recibido</option>
                </select>
            </div>
                  <input type="hidden" asp-for="Total" />

                                                  <!-- <div class="form-group">
                    <label for="" asp-for="FechaCreacion" class="control-label"></label> -->
                    <input type="hidden" class="form-control" id="" placeholder="" asp-for="FechaCreacion">
                <!-- <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                </div> -->

                                                      <div class="form-group">
                    <label for="" asp-for="FechaAprobacion" class="control-label">Fecha de aprobación</label>
                    <input type="datetime-local" class="form-control" id="" placeholder="" asp-for="FechaAprobacion">
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                  </div>

                                                      <div class="form-group">
                    <label for="" asp-for="FechaRecepcion" class="control-label">Fecha de recepción</label>
                    <input type="datetime-local" class="form-control" id="" placeholder="" asp-for="FechaRecepcion">
                    <span asp-validation-for="FechaRecepcion" class="text-danger"></span>
                  </div>


                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Editar</button> |                 
                    <a asp-action="Index" class="btn btn-warning">Cancelar</a>
                </div>

                </div>
              </form>
            </div>
            <!-- /.card -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
